extends ../base/layout
include ../base/mixins/video

block content 
    div
        img(src=`${channel.avatarUrl.startsWith("https") ? channel.avatarUrl : `/${channel.avatarUrl}`}`, alt=`${channel.name}ì˜ avatar image`)
        header
            h1 #{showingChannel.name}
            small #{showingChannel.subscribed} #{showingChannel.subscribed < 2 ? "subscriber" : "suscribers"}
        button(type="button") Subscribe

    if channel && channel._id.valueOf() === id
        hr
        a(href=`${showingChannel._id}/edit`) Edit Channel &rarr; 
        hr
    ul
        li home
            br
            if(showingChannel.videos)
                +video(showingChannel.videos)
            else
                span Nothing found.
        
        li infomation
            br
            if(showingChannel.description)
                p=showingChannel.description
            else
                span No description