extends ../base/layout
include ../base/mixins/video
include ../base/mixins/avatar
include ../base/mixins/subscriptions

block content 
    section.channel
        header
            div
                +avatar-noanchor(showingChannel)
                div
                    h1 #{showingChannel.name}
                    small.subscribers #{showingChannel.subscribed}
                    small  #{showingChannel.subscribed < 2 ? "subscriber" : "suscribers"}
                if channel && channel._id.valueOf() === id
                    button(type="button")
                        a(href=`${showingChannel._id}/edit`) Edit Channel &rarr; 
                else
                    +subscribedButton(showingChannel)
            ul
                li 
                    h2
                        button home
                li 
                    h2
                        button infomation
                li
                    h2
                        button
                            i.ic-search
                            form(method="GET")
                                input(name="keyword", placeholder="search") 
        ul
            li
                h3  Uploaded Video
                div    
                    if(showingChannel.videos)
                        +video(showingChannel.videos)
                    else
                        span Nothing found.
            li
                h3 Channel description
                div
                    if(showingChannel.description)
                        p=showingChannel.description
                    else
                        span No description
block scripts
    script(src="/assets/statics/js/channel_subscribe.js") 