extends ../base/layout
include ../base/mixins/video
include ../base/mixins/avatar
include ../base/mixins/subscriptions

block content 
    section.channel
        div.channel-container
            header
                div.channel-header-data
                    div.channel-name-container
                        +avatar-noanchor(showingChannel)
                        div.channel-name
                            h1 #{showingChannel.name}
                            div
                                small.subscribers #{showingChannel.subscribed}
                                small  #{showingChannel.subscribed < 2 ? "subscriber" : "suscribers"}
                    if channel && channel._id.valueOf() === id
                        button(type="button")
                            a(href=`${showingChannel._id}/edit`) Edit Channel
                    else
                        +subscribedButton(showingChannel)
            ul.channel-menu-list
                li 
                    button 
                        strong HOME
                li 
                    button 
                        strong VIDEOS
                li 
                    button 
                        strong ABOUT
                li.search
                    span
                        i.ic-search
                    form(method="GET").search-form
                        input(name="keyword", placeholder="SEARCH") 
        ul.channel-info-list
            li.list
                strong  Uploads ▶
                div    
                    if(showingChannel.videos)
                        +video(showingChannel.videos)
                    else
                        span Nothing found.
            li.list
                strong About ▶
                div
                    if(showingChannel.description)
                        p=showingChannel.description
                    else
                        span No description
block scripts
    script(src="/assets/statics/js/channel_subscribe.js") 