extends ../base/layout

block content
    section.edit-video.center
        div.edit-container
            form(method="POST", enctype="multipart/form-data").edit-video-form.thumbnail-form.form
                header
                    h1
                        strong Edit Video
                div.video-upload.video-player
                    video(src=`${channel.tempReupload
                                    ? channel.tempReupload
                                    : video.videoUrl}`).video
                    div.video-controller
                        input(type="range", step="0.05", value="0", min="0").time-line
                        div.controller-container
                            div.controller-left
                                button(type="button", name="controls").play
                                    i.ic-play
                                button(type="button", name="controls").mute
                                    i.ic-high-volume
                                input(type="range", step="0.05", min="0", max="1").volume
                                div.time 
                                    span.current-time 00:00
                                    span /
                                    span.duration 00:00
                            div.controller-right
                                button(type="button", name="controls").fullscreen
                                    i.ic-fullscreen
                button(type='button')
                    a(href="reupload") 
                        strong Re-upload Video file
                div.edit-content
                    div.edit-thumbnail
                        div.thumb
                            img(src=`${video.thumbUrl}`, alt=`${video.title}'s thumbnail`).img-thumbnail
                        h3
                            label(for="thumbnail") Thumbnail File
                        input(type="file", name="thumbnail", accept="image/*", id="thumbnail").input-thumbnail
                    div.edit-title    
                        h3
                            label(for="title") Title
                        input(type="text", placeholder="Video Title", name="title", id="title", value=`${video.title}` )
                    div.edit-description    
                        h3
                            label(for="description") Description 
                        input(type="text", placeholder="About your video...", name="description", id="description", value=`${video.description}`)
                    div.edit-hashtag    
                        h3
                            label(for="hashtag") Hashtags, seperated by comma
                        input(type="text", placeholder="#more #than #three #hashtags", name="hashtag", id="hashtag", value=`${video.hashtag}`)
                    button(type="submit").submit.edit-btn
                        strong Save
            footer.join-part
                div
                    strong Want to delete this video? &rarr; 
                    a(href="delete") 
                        strong Delete Video
block scripts
    script(src="/assets/statics/js/watch_thumbnail.js")
    script(src="/assets/statics/js/watch_videoController.js") 