extends ../base/layout
include ../base/mixins/avatar
include ../base/mixins/subscriptions
include ../base/mixins/date
block content
    article.watch
        section.watch-video
            div.video-player
                video(src=`/${video.videoUrl}`)
                div.video-controller
                    input(type="range", step="0.05", value="0", min="0").time-line
                    div.controller-container
                        div.controller-left
                            button(type="button").play
                                i.ic-play
                            button(type="button").mute
                                i.ic-high-volume
                            input(type="range", step="0.05", min="0", max="1").volume
                            div.time 
                                span.current-time 00:00
                                span /
                                span.duration 00:00
                        div.controller-right
                            button.fullscreen
                                i.ic-fullscreen
            header.watch-video-data
                div.watch-title
                    each hashtag in video.hashtag
                        small #{hashtag}  
                    h1 #{video.title}
                div.watch-meta
                    div.watch-meta-data
                        small.views #{video.meta.views} 
                        small #{video.meta.views < 2 ? "view" : "views"}
                        span ã†
                        +date(video.meta.createdAt)
                    div.watch-meta-button
                        ul
                            li
                                button.liked-button
                                    if !channel
                                        a(href="/login")
                                            i.ic-liked
                                            strong #{video.meta.liked}
                                    else if channel.liked.includes(video._id.valueOf())
                                        i.ic-liked-fill
                                        strong #{video.meta.liked} 
                                    else
                                        i.ic-liked
                                        strong #{video.meta.liked === 0 ? 'like' : video.meta.liked}
                            li
                                button.disliked-button
                                    if !channel
                                        a(href="/login")
                                            i.ic-disliked
                                            strong #{video.meta.disliked}         
                                    else if channel.disliked.includes(video._id.valueOf())
                                        i.ic-disliked-fill 
                                        strong #{video.meta.disliked} 
                                    else
                                        i.ic-disliked
                                        strong #{video.meta.disliked === 0 ? 'dislike' : video.meta.disliked}
                            li
                                button.save-button
                                    if !channel
                                        a(href="/login")
                                            i.ic-save
                                            strong save
                                    else
                                        i.ic-save
                                        strong #{channel.library.includes(video._id.valueOf()) ? 'Unsave' : 'save'}
        section.watch-channel
            header
                div.channel-avatar-title
                    div.channel-avatar
                        +avatar(video.channel)
                    div.channel-title
                        h3 #{video.channel.name}
                        small.subscribers #{video.channel.subscribed}
                        small  #{video.channel.subscribed < 2 ? "subscriber" : "subscribers" }
                div.channel-subscription
                    if !channel
                        button(type="button") 
                            a(href=`/login`) Subscribe
                    else if channel._id === video.channel._id.valueOf()
                        button(type="button") 
                            a(href=`/watch/${video._id}/edit`) Edit Video
                    else
                        +subscribedButton(video.channel)
            div.channel-video-description
                p #{video.description}

        //- comments
        section.watch-comment
            if loggedIn
                +avatar-noanchor(channel)
                form(method="POST")
                    textarea(name="comment", placeholder="Add a public comment...", required)
                    button(type="button") Cancel
                    button(type="submit") Comment
block scripts
    script(src="/assets/statics/js/watch_videoController.js") 
    script(src="/assets/statics/js/channel_subscribe.js")
    script(src="/assets/statics/js/watch_watch.js")