include ./avatar
include ./date
mixin video(videos)     
    ul.video-mixin
        each video in videos
            li
                a(href=`/watch/${video._id}`).video-anchor
                    div.thumb
                        img(src=`/${video.thumbUrl}`)
                        //- video(src=`/${video.videoUrl}`, controls) 
                    div.video-data
                        if showingChannel
                            +avatar-noanchor(showingChannel)
                        else
                            +avatar-noanchor(video.channel)
                        div.video-data-text
                            h3 #{video.title}
                            div.video-data-text-meta
                                small #{video.channel.name}
                                div
                                    small #{video.meta.views} #{video.meta.views > 1 ? "views" : "view" } 
                                    span ㆍ
                                    +date(video.meta.createdAt)
        else
            span Sorry, nothing found
