mixin video(videos)
    ul
        each video in videos
            li
                a(href=`/watch/${video._id}`)
                    div
                        img(src=`/${video.thumbUrl}`)
                        Strong #{video.title}
                    small #{video.channel.name}
                    br
                    small #{video.meta.views} #{video.meta.views > 1 ? "views" : "view" } 
                    span ㆍ
                    small #{video.meta.createdAt}
